{% extends 'main.html' %} {% block content %}
<style>
	.home-container {
		display: grid;
		grid-template-columns: 1fr 3fr;
	}
</style>
<div class="home-container">
	<div>
		<h1>Brows Topic</h1>
		<hr />
		<div>
			<a href="{% url 'home' %}">ALL</a>
		</div>
		{% for topic in topics %}

		<div>
			<a href="{% url 'home' %}?q={{topic.name}}">{{topic.name}}</a>
		</div>
		{% endfor %}
	</div>
	<div>
		<h5>{{ room_count}} rooms avaiable</h5>
		<a href="{% url 'create-room' %}">CreateRoom</a>

		{% for ROOM in ROOMS %}
		<div>
			<!-- <h5>{{ ROOM.id }} : <a href="/rooms/{{ROOM.id}}">{{ ROOM.name }}</a></h5> -->

			{% if request.user == ROOM.host %}

			<a href="{% url 'update-room' ROOM.id %}"> Edit Room</a>
			<a href="{% url 'delete-room' ROOM.id %}"> Delete Room</a>

			{% endif %}

			<span>@{{ROOM.host.username}}</span>
			<h5>
				{{ ROOM.id }} : <a href="{% url 'rooms' ROOM.id %}">{{ ROOM.name }}</a>
			</h5>
			<small>{{ROOM.topic.name}}</small>
			<hr />
		</div>

		{% endfor %}
	</div>
</div>

{% endblock %}
